In [1]:
#1

print("hello" ,98 ,True ,98.5)

hello 98 True 98.5

In [2]:
#2

print("hello" ,98 ,True ,98.5 ,sep='-')

hello-98-True-98.5

In [3]:
#3

print("hello", end=' ')
print(98, end=' ')
print(True, end=' ')
print(98.5)

hello 98 True 98.5

In [4]:
#4

print("")

In [5]:
#5

name = "Mr.Ahmed"
age = 30
profession = "lawyer"
education = "bachelors"
graduation_year = 2005
company_name = "The himalya associates"
company_location = "karachi"
joining_year = 2015
height_Ft = 5.10
weight_g = 70600
monthly_income = 200000

In [6]:
#6

current_year = 2024
current_year - graduation_year

19

In [7]:
#7

current_year - joining_year

9

In [8]:
#8

dollar = 277
monthly_income_dollars = monthly_income / dollar

In [9]:
#9

type(monthly_income_dollars)
monthly_income_dollars = monthly_income // dollar
print(monthly_income_dollars)

722